@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<h1><i class="bi bi-sign-stop-fill" style="color: darkred"></i> Access denied</h1>

<p>You are not authorized to access the requested resource.</p>
