@model IEnumerable<Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestStageApplication>

@{
    ViewBag.Title = "Applications";
}

<h1>Applications</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Transaction ID</th> 
        <th>Yandex ID Login</th>
        <th>Contest Stage ID</th>
        <th>Application State</th>
        <th>Created At (UTC)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var application in Model)
    {
        await Html.RenderPartialAsync("ApplicationView", application);
    }
    </tbody>
</table>
