@using Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain
@model Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ApplicationState

@switch (Model)
{
    case ApplicationState.Pending:
        <span class="badge bg-secondary bg-gradient">Pending</span>
        break;
    case ApplicationState.Processing:
        <span class="badge bg-info bg-gradient">Processing</span>
        break;
    case ApplicationState.Finished:
        <span class="badge bg-success bg-gradient">Finished</span>
        break;
    case ApplicationState.Failed:
        <span class="badge bg-danger bg-gradient">Failed</span>
        break;
    default:
        throw new ArgumentOutOfRangeException();
}
