@model Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestStage

<tr>
    <td><a asp-action="Item" asp-route-id="@Model.Id">@Model.Id</a></td>
    @if (@Model.YandexContestId is { } yandexContestId)
    {
        <td>@yandexContestId</td>
    }
    else
    {
        <td><span style="color: red">NULL</span></td>
    }
</tr>
