@model Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestStage

<tr>
    <td><a asp-action="Item" asp-route-id="@Model.Id">@Model.Id</a></td>
    <td>@Model.YandexContestId</td>
</tr>
