@model IEnumerable<Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestStage>

@{
    ViewBag.Title = "Contest stages";
}

<h1>Contest stages</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Yandex Contest ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var application in Model)
    {
        await Html.RenderPartialAsync("ContestStageView", application);
    }
    </tbody>
</table>
