@model IEnumerable<Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestRegistration>

@{
    ViewBag.Title = "Registrations";
}

<h1>Registrations</h1>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Contest Stage ID</th>
        <th>Yandex Contest ID</th>
        <th>Yandex ID Login</th>
        <th>Contest User ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var application in Model)
    {
        await Html.RenderPartialAsync("RegistrationView", application);
    }
    </tbody>
</table>
