@model bool

@{
    ViewBag.Title = "Yandex Authentication Check";
}

<h1>Yandex Authentication Check</h1>

@if (Model)
{
    <p>The application is authenticated.</p>
}
else
{
    <p>The application is not authenticated.</p>
    <div class="text-center">
        <a asp-action="Auth">
            <div class="yandex-button">
                <div class="yandex-button-content">
                    @Html.Raw(await File.ReadAllTextAsync("wwwroot/img/yandex-logo-en.svg"))
                    @Html.Raw(await File.ReadAllTextAsync("wwwroot/img/text-wrapper-en.svg"))
                </div>
            </div>
        </a>
    </div>
}
